@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 400;
  src: url('./charter-regular.woff2') format('woff2');
}


/* @font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 700;
  src: url('./charter-bold.woff2') format('woff2');
}


@font-face {
  font-family: 'fbb';
  font-style: normal;
  font-weight: 400;
  src: url('./fbb-regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Concourse Index';

  src: url('./concourse-index.woff2') format('woff2');
} */


*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  align-items: start;
  display: flex;
  /* font-family: "IBM Plex Serif", sans-serif; */
  /* font-family: "fbb", sans-serif; */
  font-family: "Charter", sans-serif;
  font-variant: small-caps;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 1em;
  font-size: 12.5px;
}

#app {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 6em 6em minmax(34em, 44em) minmax(24em, 30em) 6em 6em;
  justify-items: center;
  align-items: center;
}

.reset {
  font-weight: bold;
}

.row {
  align-items: center;
  display: flex;
  gap: 4em;
  justify-content: space-between;
}

.row-icon {
  font-size: 3em;
  height: 1.375em;
  cursor: pointer;
}

.row-number {
  /* font-size: 4em;
  font-family: "Concourse Index", serif;
  font-feature-settings: "ss00"; */

  border: solid black 0.08em;
  border-radius: 50%;
  font-size: 2.75em;
  width: 1.375em;
  height: 1.375em;
  padding-bottom: 0.08em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-input {
  cursor: pointer;
  justify-self: end;
}

.time-input input {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  opacity: 0;
  position: absolute;
}

.time-total {
  /* font-size: 0.625em; */
  color: #ccc;
  justify-self: end;
}

.clear {
  color: #bbb;
}

.input {
  font-size: 6em;
  width: 8em;
  border: none;
}

.time-number {
  font-size: 6em;
}

.spacer {
  display: none;
}

#add {
  font-size: 6em;
}

.time-unit {
  font-size: 3.5em;
  margin-right: 0.5em;
}

/* 1000px / 62.5 = 16px */
@media screen and (max-width: 1000px) {
  body {
    font-size: calc(100vw / 47);
    padding: 0;
  }

  #app {
    padding: 2em 0;
  }


  .grid {
    grid-template-columns: 34em 6em 6em;
    grid-auto-flow: dense;
  }

  .play {
    grid-column: 3;
  }

  .reset-container {
    grid-column: 2;
  }

  #add {
    grid-column: 3;
  }

  .spacer {
    display: block;
    grid-column: span 3;
    height: 3em;
  }
}

/* 250px / 62.5 = 4px */
@media screen and (max-width: 188px) {
  body {
    font-size: 4px;
  }
}